actionscript-cafe/.actionScriptProperties
actionscript-cafe/.project
actionscript-cafe/.flexLibProperties
actionscript-cafe/libs/*
actionscript-cafe/.settings
actionscript-cafe/bin/*
*/target/*
.metadata
cafe-net-impl/.actionScriptProperties
cafe-net-impl/.flexLibProperties
cafe-net-impl/.project
cafe-net-impl/bin/*
cafe-net-impl/libs/
