actionscript-cafe/.actionScriptProperties
actionscript-cafe/.project
actionscript-cafe/.flexLibProperties
actionscript-cafe/libs/*
actionscript-cafe/.settings
actionscript-cafe/bin/*
*/target/*
.metadata
